
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/jlptclub?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: admin
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
    redis:
      host: localhost  # 或你的 Redis 服务器 IP
      port: 6379      # 默认端口
      password:       # 如果有密码
      database: 0     # 默认数据库索引
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0

